<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>
	<script type="text/javascript" th:src="@{/webjars/bootstrap/4.6.0/js/bootstrap.min.js}"></script>

	<title>Demo-SpringBoot SSO, OAuth2/OpenID Connect</title>
    
	<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css}" />
</head>
<body>
    <h1>SpringBoot SSO by OAuth2 and OpenID Connect Demo</h1>
    <h2>You're a Power User</h2>
    <div><a href="/" class="btn btn-secondary" style="margin-left: 20px;">Home Page</a></div>
</body>
</html>
